body{
  color: yellow;
  background-color: black;
  text-align: center;
}

#available-ships{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 80vh;
}

#my-ships{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 20vh
}

img{
  height: 15vmin;
  width: auto;
  margin: 5px;
  border: solid black 1px;
}

img:hover{
  border: solid yellow 1px;
}

#link{
  color: yellow;
}